@import "components/atoms/atoms_main.css";
@import "components/molecules/molecules_main.css";
@import "components/protones/protones_main.css";

* {
    font-family: var(--main-font-family);
}

header {
    height: 100%;
}

#houseName {
    margin-top: 3px;
    margin-bottom: 2px;
}

h1 {
    font-size:x-large;
    margin-top: 6px;
    margin-bottom: 4px;
}

#mainSubtitle {
    font-size: medium;
    margin-top: 0px;
    margin-bottom: 0px;
    color: #7e7e7e ;
}

nav {

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow-x: scroll;
    scrollbar-width: none;
    height: 25%px;
    margin-bottom: 20px;
}

.menuOptions {
    width: 10%;
    height: 30%;
    border-radius: 10%;
    box-shadow: 5px 5px  3px  grey;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dishClassMenuImg {
    margin-top: 4px;
    object-fit: contain;
    width: 20px;
    height: auto;
    
}

.menuOptionsName {
    margin: 4px;
    font-size:x-small;
    font-weight: bold;
   
}

main {
    display: flex;
    flex-direction: column;
    
}

#menuImages {
    
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
}

#menuNames {
    display: flex;
    
    justify-content: space-evenly;
    flex-direction: row;
}

#navImages {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    padding-bottom: 5px;
}

.cardContainer{
    
    height: 20%;
    width: 80%;
    display: flex;
    box-shadow: 10px 5px 5px grey;
    margin-bottom: 3px;
    border-radius: 10%;
}
.dish {
    width: 40%;
    border-radius: 10% 0% 0% 10%;
    object-fit: cover;
}

.dish img {
    width: 100%;
}

.dishInfo p {
    font-size: small;
    margin-top: 5px;
    margin-bottom: 3px;
    margin-left: 5px
    
}

#dishDescription {
    font-size: x-small;
    
}

footer {
    height: 100px;
}

#cartButton {
    
    height: 40px;
    width: 40px; 
    background-color: var(--main-color);
    border-radius: 50%;
    position: fixed;
    bottom: 5%;
    left: 40%;
    display:flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 5px grey ;
    z-index: 1;

}

#buttonCartButton {
    background-color: transparent;
    border: none;
    padding: 4px;
}

#buttonCartButton i {
    color: white;
    font-size: small;
}

.footerNav {
    background-color: transparent;
    border: none;
    padding: 4px;
    height: 20px;
    
    
}

.footerNav i {
    color: rgb(116, 114, 114);
    font-size: larger;
    bottom: 30px;
}

.footerNav button {
    bottom: 20%;
    

}

footer {
    background-color: white;
    background: linear-gradient(0deg, rgba(255,255,255,1) 70%, rgba(255,255,255,0) 100%);
    bottom: 0;
    position: fixed;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
}



#footerNavigationLeft {
    align-self: flex-end;
    display: flex;
    justify-content: space-around ;
    position:relative;
    bottom: 30%;
    right: -10%;
}
#emptyDiv {
    width: 33%;
}

#footerNavigationRight {
    align-self: flex-end;
    position:relative;
    bottom: 30%;
    right: -25%;
    
}

