/* .dishClassMenu {
    position: relative;
    max-width: 50px;
    max-height: 50px;
    position: absolute;
    width: 47px;
    height: 43px;
    left: 182px;
    top: 1158px;
    background: url(meat.png);
} */